.app {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.app .jumbotron {
  padding: 10px 0;
}
.app .jumbotron.row {
  margin-right: 0;
  margin-left: 0;
}
.app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app img {
  display: block;
  max-width: 100%;
}
.list-item {
  padding: 10px 20px;
}
.list-item + .list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}
.header {
  padding: 20px 0;
  align-items: flex-end;
}
.header ul {
  margin-bottom: 0.5rem;
  margin-left: 30px;
}
.header li {
  float: left;
}
.header li a {
  padding: 6px 10px;
  font-size: 18px;
}
.items-list .jumbotron {
  padding: 0;
}
.error-indicator {
  margin: 0 auto;
  text-align: center;
}
.error-indicator img {
  display: block;
  max-width: 90px;
  margin: 0 auto 10px;
}
.error-indicator .boom {
  font-size: 36px;
  color: #e20000;
}
.error-indicator p {
  color: #ffffff;
}
